<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>
<body>
    <div class="cabeca">
        Bem-vindo a loja do carlão
    </div>
    <div class="corpo">
        Para se cadastrar <a href="cadastro">Clique Aqui</a>
        <br>
        Para logar <a href="login">Clique Aqui</a>
        <br>
        Para Comprar <a href="loja">Clique aqui</a>
        <br>
        Para Sair <a hre="logout">Clique aqui</a>
    </div>
</body>
</html>